@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

$body-color: #484848;
$active-link-color: #0056b3;

$main-font: 'Lato', sans-serif;
$nav-font: 'Poppins', sans-serif;

body {
  color: $body-color;
  font-family: $main-font;
  margin: 0;
  padding: 0;
}

a {
  color: $body-color;
  text-decoration: none;

  &:hover {
    color: $active-link-color;
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

/* Layout */
.grid {
  display: grid;
  grid-auto-rows: auto;
}

.grid--three-columns {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.flex {
  display: flex;
  flex-flow: row;
}

.post-item {
}

.post-image {
  a {
    display: block;
  }

  img {
    max-width: 100%;
  }
}

/* Header */
.top-header {
  background: url('../static/img/pattern22.png');
  font-family: $nav-font;
  height: 80px;

  &_content {
    justify-content: space-between;
  }
}

.logo {
  font-size: 2em;
  line-height: 80px;
  padding: 0 2rem;
  text-transform: uppercase;

  &:hover {
    color: $body-color;
  }
}

/* Navigation */
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-top {
  .nav-item {
    line-height: 80px;
    padding: 0 1rem;
    text-transform: uppercase;

    &:hover {

    }

    &:first-child {
      padding-left: 2rem;
    }

    &:last-child {
      padding-right: 2rem;
    }
  }
}

/* Content */
.page-content {
  padding: 40px 0;
}